<p>Outcome:</p>
<div class="row">
    <mat-form-field appearance="outline">
        <mat-label>Wydajemy</mat-label>
        <input matInput placeholder="Gdzie kasiorka wydana?">
        <mat-icon matSuffix>sentiment_very_dissatisfied</mat-icon>
        <mat-hint>Gdzie kaska wydana, co?</mat-hint>
    </mat-form-field>


    <table class="table table-hover hotspots-table">
        <thead class="thead-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Netto</th>
                <th scope="col">VAT</th>
                <th scope="col">Brutto 24h</th>
                <th scope="col">Odlicz</th>
            </tr>
        </thead>
        <tbody>
            <tr class="clickable-row" *ngFor="let outcome of this.dataService.userData.outcomeList; let index = index">
                <td>{{index}}</td>
                <td><input placeholder="Co tam kupione było?" (input)="onChange()" [(ngModel)]="outcome.name"></td>
                <td>

                        <input placeholder="A kasiorki ile poszło?" (input)="onChange()" [(ngModel)]="outcome.netto" type="number">

                </td>
                <td>{{ (outcome.netto! * 1.23) - outcome.netto! | number :'1.2-2' }} pln </td>
                <td>{{ outcome.netto! * 1.23 | number :'1.2-2' }} pln </td>
                <td>{{ outcome.vatReduce | number}} % </td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-primary" (click)="addRow()">Dodaj</button>

</div>