@media only screen and (max-width: 640px) {
    .outcome-table-hajs{
        font-size: 10px;
    }
}
@media only screen and (max-width: 998px) {
    .outcome-table-hajs{
        font-size: 11px;
    }
}
.outcome-table-hajs{
    vertical-align: middle;
}