
/* MATERIAL ACCORDION STYLING */
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}
.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.mat-expansion-panel{
    box-shadow: 2px 4px 4px 2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    margin-bottom: 10px!important;
}
.mat-expansion-panel-header.mat-expanded{
    margin-bottom: 7px!important;
}
.accordion-income-header{
    background-color: #edffdc!important;
}
.accordion-income-header:hover{
    background-color:#e6fdd0 !important;
}
.accordion-us-header{
    background-color: #ffdfcc!important;
}
.accordion-us-header:hover{
    background-color:#ffdfcc !important;
}
.accordion-outcome-header{
    background-color: #ffd6d1!important;
}
.accordion-outcome-header:hover{
    background-color:#ffc4ad !important;
}

.hotspots-table{
    text-align: center;
    vertical-align: middle;
}
.hotspots-table td{
    padding: 0.2rem 0.2rem;
}
.hotspots-table .outcome-table-hajs{
    min-width: 2rem;
}


.clickable-row{
    cursor: pointer;
}
