<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/jakubsikora/" target="_blank"
        role="button">
        <i class="fab fa-linkedin-in"></i>
      </a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/grawi-sikorsky" target="_blank" role="button">
        <i class="fab fa-github"></i>
      </a>

      <!-- OTHER APPS -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://cutter.grawires.pl/" target="_blank" role="button">
        <i class="fa-solid fa-ruler-combined"></i> Cutting optimizer
      </a>

      <a class="btn btn-outline-light btn-floating m-1" href="https://b2b.grawires.pl/" target="_blank" role="button">
        <i class="fa-solid fa-money-bill-1-wave"></i> B2B Calculator
      </a>

      <a class="btn btn-outline-light btn-floating m-1" href="https://holidays.grawires.pl/" target="_blank" role="button">
        <i class="fa-solid fa-plane-departure"></i> Holiday optimizer
      </a>

      <a class="btn btn-outline-light btn-floating m-1" href="https://proporcje.grawires.pl/" target="_blank" role="button">
        <i class="fa-solid fa-calculator"></i> Kalkulator proporcji
      </a>
      <!-- OTHER APPS -->
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright: Jakub Sikora ||
    <a class="text-white" href="https://printo3d.pl/" target="_blank">Printo3d.pl</a> ||
    <a class="text-white" href="https://grawires.pl/" target="_blank">Grawires.pl</a>
  </div>
  <!-- Copyright -->
</footer>
