<div class="container-fluid">
    <div class="row">

        <app-results></app-results>

        <div class="col-3">
        </div>
        <div class="col-6" style="text-align: center;">
            <div class="btn-group" role="group" >

            </div>
        </div>
        <div class="col-3">
        </div>

        <div class="col-6">
            <app-income-form></app-income-form>
        </div>
        <div class="col-6">
            <app-outcome-form></app-outcome-form>
        </div>

    </div>
</div>